* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #f7f7f2;
}

h1, h2, h3, h4, h5 {
    color: #131515;
}

h3 {
    font-size: 35px;
}
p, 
label {
    color: #2b2c28;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 750px;
}

textarea {
    padding: 10px 5px;
}

/* Cabeçalho */

.header {
    height: 160px;
    padding: 20px;
    background-color: #7de2d1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h3 {
    color: #2b2c28;
    margin-top: 0;
}

/* form container */

.form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin-left: 20%;
    margin: 0 auto;                             
    position: relative;
    top: -62px;                               
}

/* form-header */

.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 50px;
}

.form-header p {
    color: #339989;
    border-bottom: 2px solid #339989;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
}

/* form-body */

.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.required-field {
    color: #d80835
}

.box-input {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list li {
    list-style: none;
    margin-bottom: 7px ;
}

.box-input p {
    margin-bottom: 15px;
}

.btn-submit {
    background-color: #7de2d1;
    color: #2b2c28;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #2b2c28;
    border-color: #7de2d1;
    color: #7de2d1;
}

@media (max-width: 800px) {
    .form-container {
        width: 100%;
    }
    input[type="text"], 
    textarea,
    select {
        width: 100%;
    }
}